<%= @arquivo.arquivo.to_s %>

<div class="form-actions">
  <%= link_to 'Editar', edit_arquivo_path(@arquivo), :class => 'btn' %>
  <%= link_to 'Voltar', arquivos_path(:processo_id => @arquivo.processo_id), :class => 'btn' %>
</div>

